<h1>Liste des catégories</h1>

{% for message in app.flashes("info") %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% else %}
        Aucune catégorie
    {% endfor %}
</ul>