<h1>Ajouter des produits à <strong>{{ list.name }}</strong></h1>

{% for message in app.flashes("info") %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<ul>
    {% for product in products %}
        <li>{{ product.name }} - <a href="#">Ajouter</a></li>
    {% else %}
        Aucun produit
    {% endfor %}
</ul>